[submodule "src/libs/MoonJohn"]
	path = src/libs/MoonJohn
	url = https://github.com/Jictyvoo/MoonJohn
[submodule "src/libs/Pixelurite"]
	path = src/libs/Pixelurite
	url = https://github.com/Jictyvoo/Pixelurite
[submodule "src/libs/StoneMoSScreen"]
	path = src/libs/StoneMoSScreen
	url = https://github.com/Jictyvoo/StoneMoSScreen
